[submodule "lib/Bogart/vendor/Twig"]
	path = lib/Bogart/vendor/Twig
	url = git://github.com/fabpot/Twig.git
[submodule "lib/Bogart/vendor/mustache"]
	path = lib/Bogart/vendor/mustache
	url = git://github.com/bobthecow/mustache.php.git
[submodule "lib/Bogart/vendor/dependency-injection"]
	path = lib/Bogart/vendor/dependency-injection
	url = git://github.com/fabpot/dependency-injection.git
[submodule "lib/Bogart/vendor/event-dispatcher"]
	path = lib/Bogart/vendor/event-dispatcher
	url = git://github.com/fabpot/event-dispatcher.git
[submodule "lib/Bogart/vendor/templating"]
	path = lib/Bogart/vendor/templating
	url = git://github.com/fabpot/templating.git
[submodule "lib/Bogart/vendor/yaml"]
	path = lib/Bogart/vendor/yaml
	url = git://github.com/fabpot/yaml.git
[submodule "lib/Bogart/vendor/lessphp"]
	path = lib/Bogart/vendor/lessphp
	url = git://github.com/leafo/lessphp.git
