Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteBase /
  
  RewriteRule ^(.*)/$ $1 [R=302,QSA,L]
  
  RewriteRule ^admin(.*)$ admin/ [L]
  
  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>