<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />
  <title>{{ title }}</title>
  
  <link rel="stylesheet" href="{{ cfg.asset.server }}/css/960/960.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<html>
<body>
  <div id="header">
    header
  </div>
