{% extends "layout.twig" %}

{% block content %}
<div class="grid_10" id="steps">
  <h1>Simple.</h1>
  
  <p class="step grid_1"><span>1.</span></p>
  <p class="grid_8"><a href="https://github.com/thrashr888/Bogart/tarball/master" id="download-link">Download</a></p>
  <br class="clear" />
  
  <p class="step grid_1"><span>2.</span></p>
  <pre class="grid_8"><code>Get('/hello', function(){
   echo 'Hello world';
 });</code></pre>
  
  <p class="step grid_1"><span>3.</span></p>
  <p class="grid_8" id="step3">&hellip;I think this is the beginning of a beautiful friendship.</p>
  <br class="clear" />
</div>
{% endblock %}

{% block sidebar_left %}
<ul id="sidebar-nav">
  <li><a href="/readme">readme</a></li>
  <li><a href="/documentation">documentation</a></li>
  <li><a href="/code">code</a></li>
  <li><a href="/about">about</a></li>
</ul>
{% endblock %}