<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />
  <title>{{ title }}</title>
  
  <link rel="stylesheet" href="{{ cfg.asset.server }}/css/960/960.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
</head>
<html>
<body>
  {{> header}}
  
  <h1>{{ title }}</h1>
  
  <p>Message: {{ message }}</p>
  
  <p>Content: {{ content }}</p>
  <p>Data: {{ data }}</p>
  
  <h2>Mustache</h2>
  {{#posts}}
    <h2>{{ title }}</h2>
    <p>{{ body }}</p>
  {{/posts}}
  {{^posts}}
    <p>No posts.</p>
  {{/posts}}
  
  <h2>Twig</h2>
  {% if posts %}
    {% for post in posts %}
      <h2>{{ post.title }}</h2>
      <p>{{ post.body }}</p>
    {% endfor %}
  {% else %}
    <p>No posts.</p>
  {% endif %}
  
  {{> footer}}
</body>
</html>