{% extends "layout.twig" %}

{% block content %}
<h1>All Posts</h1>

{% for item in posts %}
  <h2><a href="/post/{{ item.slug }}">{{ item.title }}</a></h2>
  <p>{{ item.body }}</p>
{% endfor %}

{% if not posts %}
  <p>No posts.</p>
{% endif %}

{% endblock %}