
#content { margin: 0 auto; }
#header { border-bottom: 1px solid black; }
#footer { border-top: 1px solid black; }

h1, h2 { font-family: "museo-1","museo-2",serif; }

.tk-vera-sans{ font-weight: normal; }
